:root{
    /* This is a absolute white and black. */
    --black-color: #000;
    --white-color: #fff;

    /* Primary Colors - The foundational color representing brand identity in this template */
    --primary-color-10: #0F172A;
    --primary-color-20: #707786;
    --primary-color-30: #DDDFE4;
    --primary-color-40: #F5F6F6;
    --primary-color-50: #900B09;
    --primary-color-60: #1C7D41;
}

:root.lite {
    --background-color:        var(--white-color);
    --background-footer:       var(--primary-color-10);
    --background-color-header: var(--primary-color-40);
    --background-color-footer: var(--primary-color-40);
    --background-color-ui-kit: var(--primary-color-10);

    --text-title:              var(--primary-color-10);
    --text:                    var(--primary-color-20);
    --text-notification:       var(--white-color);

    --bc-checkbox:             var(--white-color);
    --bc-checkbox-checked:     var(--primary-color-60);
    --border-checkbox:         var(--primary-color-20);
    --border-checkbox-checked: var(--primary-color-60);

    --bc-input-search:         var(--white-color);
    --border-input-search:     var(--white-color);
    --border-input-search-focus: var(--primary-color-20);
    --bc-input-form:         var(--primary-color-40);
    --border-input-form:     var(--primary-color-40);
    --border-input-form-focus: var(--primary-color-60);

    --button-text:             var(--white-color);
    --bc-button:               var(--primary-color-60);
    --border-button:           var(--primary-color-60);
    --bc-button-remove:        var(--primary-color-40);
    --border-button-remove:    var(--primary-color-40);

    --bg-book-item:            var(--primary-color-40);

    --bg-loading:              var(--primary-color-30);
    --loading:                 var(--primary-color-20);

    --error:                   var(--primary-color-50);

    --notification-error:         var(--primary-color-50);

    --notification-success:         var(--primary-color-60);
}
